{% load static %}<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Book Table</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'booktable/css/main.css' %}">
    </head>
    <body ng-app="booktable" ng-controller="RoomCtrl">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-xs-9">
                    <h1>Заказывайте наших столов</h1>
                </div>
                <div class="col-xs-3">
                    <div bt-date date="date" class="pull-right" style="margin: 20px 0 10px 0;"></div>
                </div>
            </div>
            
            <div id="room" ng-class="{ less: selected.length }">
                <div ng-repeat="item in tables" 
                     class="room-table"
                     ng-style="table_style(item)"
                     ng-click="click_table(item)"
                ><span class="badge" ng-bind="item.num"></span> for <span ng-bind="item.seats"></span> person(s)</div>
            </div>
        <footer class="footer" ng-if="selected.length">
            <div class="panel panel-default">
                <div class="panel-body form-inline">
                    <div class="form-group">
                        <label for="id_name">Name</label>
                        <input class="form-control" type="text" id="id_name" ng-model="f.name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email</label>
                        <input class="form-control" type="email" id="id_email" ng-model="f.email" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="set_booking()">Book selected table(s)</button>
                </div>
            </div>
        </footer>
        </div>
        
        <script type="text/javascript" src="{% static 'js/angular/angular.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'booktable/js/main.js' %}"></script>
        <script type="text/javascript">
        angular.module('booktable').run(function(Tables) {
            {% for item in tables %}
            Tables.data[{{item.num}}] = {
                num: {{ item.num }},
                seats: {{ item.seats }},
                form: '{{ item.form }}',
                coord_x: {{ item.coord_x }},
                coord_y: {{ item.coord_y }},
                size_x: {{ item.size_x }},
                size_y: {{ item.size_y }}
            };
            {% endfor %}
        });
        </script>

        <script type="text/ng-template" id="bt-date.tmpl">
        <div>
            <button ng-click="back()" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-triangle-left"></span>
            </button>
            <span ng-bind="date|date:'yyyy-MM-dd'"></span>
            <button ng-click="forth()" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-triangle-right"></span>
            </button>
        </div>
        </script>
    </body>
</html>