<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>Dear {{ name }}</h1>
        <p>You are successfully booked table(s) {{ tables }} for {{ date|date:'Y-m-d' }}</p>
    </body>
</html>