#room {
    border: solid 1px #ccc;
    min-height: calc(100vh - 69px);
    position: relative;
}

#room.less {
    min-height: calc(100vh - 69px - 64px);  
}

.room-table {
    border: solid 1px grey;
    position: absolute;
}

h1 {
    font-size: 30px;
}